version: '2.3' # specify docker-compose version

# Define the services/containers to be run
services:
  ldap-server:
    container_name: ldap-server
    image: openshift/openldap-2441-centos7
    ports:
      - 389:389
      - 636:636
    networks:
      - mynet
    environment:
      OPENLDAP_ROOT_PASSWORD: ${{ secrets.OPENLDAB_ROOT_PASSWORD }}
      OPENLDAP_ROOT_DN_SUFFIX: "dc=chat,dc=app"
      OPENLDAP_ROOT_DN_PREFIX: "cn=Manager"

  chat-server:
    container_name: chat-server
    image: siriine/chatroom-server
    ports:
      - 1001:1001
    networks:
      - mynet
    environment:
      OPENLDAP_ROOT_PASSWORD: ${{ secrets.OPENLDAB_ROOT_PASSWORD }}
networks:
  mynet:
    driver: bridge
     